# It's easy to add more libraries or choose different versions. Any libraries
# specified here will be installed and made available to your morph.io scraper.
# Find out more: https://morph.io/documentation/python

cssselect==0.9.1
lxml==3.4.4
pandas==0.18.0
numpy==1.11.0
openpyxl==2.3.4
pycountry==1.20
PyYAML==3.11
requests==2.9.1
scraperwiki==0.5.1
xlrd==0.9.4
